@use "utilities/role";

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

body {
  @extend .role--neutral;
  background-color: var(--background);
  color: var(--color-on-surface);
}
