@use "utilities/role";
@use "utilities/text";

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

body {
  @extend .role--neutral, .text--body1, .leading--normal;
  background-color: var(--background);
  color: var(--color-on-surface);
}

h1 {
  @extend .text--h1;
}

h2 {
  @extend .text--h2;
}

h3 {
  @extend .text--h3;
}

h4 {
  @extend .text--h4;
}

h5,
h6 {
  @extend .text--h5;
}
