@use "../naming" as *;
@use "../base/color" as *;
@use "../base/spacing" as *;
@use "../base/typography" as *;

$name: button;
$btn-gap: 0.75;
$btn-addon-bleed: -0.25;

@include component($name) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // gap: spacing(2 * $btn-gap);
  // padding: var(--btn-py) var(--btn-px);
  gap: var(--btn-gap);
  padding-block: var(--btn-gap);
  padding-inline: var(--btn-gap);
  border: none;
  border-radius: v(radius-md);
  cursor: pointer;
  background-color: transparent;
  color: v(palette-main);
  transition: 100ms ease-in-out, box-shadow 200ms ease-in;
  box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.05);
  @include typography-variant("label");

  // States
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  &:not(:disabled):hover {
    background-color: v(palette-surface-hover);
  }
  &:not(:disabled):active {
    // filter: brightness(0.9);
    box-shadow: inset 0 0 0 99px rgba(0, 0, 0, 0.1);
  }
  &:focus-visible {
    outline: 2px solid v(palette-main);
    outline-offset: 2px;
  }

  &--jut {
    margin: calc(-1 * var(--btn-gap));
  }
  &--jut-inline {
    margin-inline: calc(-2 * var(--btn-gap));
  }
  &--jut-block {
    margin-block: calc(-1 * var(--btn-gap));
  }
}

// Variant Modifiers
@include component-modifier($name, "solid") {
  color: v(palette-on-main);
  background-color: v(palette-main);
  padding-inline: calc(2 * var(--btn-gap));
  &:not(:disabled):hover {
    background-color: v(palette-main-hover);
  }
}
@include component-modifier($name, "subtle") {
  color: v(palette-on-subtle);
  background-color: v(palette-subtle);
  padding-inline: calc(2 * var(--btn-gap));
  &:not(:disabled):hover {
    background-color: v(palette-subtle-hover);
  }
}
@include component-modifier($name, "ghost") {
  color: v(color-muted);
  &:not(:disabled):hover {
    color: v(palette-on-subtle);
    background-color: v(palette-surface-hover);
  }
}

// Size and Shape Modifiers
@include component-modifier($name, "md") {
  @include typography-size("label", "md");
  --btn-gap: #{spacing(1)};
}
@include component-modifier($name, "sm") {
  @include typography-size("label", "sm");
  --btn-gap: #{spacing(0.75)};
}
@include component-modifier($name, "square") {
  min-inline-size: calc(2 * var(--btn-gap) + var(--size));
  padding-inline: var(--btn-gap);
}

// Width Modifiers
@include component-modifier($name, "full") {
  width: 100%;
}
@include component-modifier($name, "wide") {
  min-width: 12rem;
}

// Color Modifiers
@each $color in $colors {
  @include component-modifier($name, $color) {
    @include palette-variables($color);
  }
}

// Elements
@include component-element($name, "leading") {
  margin-inline-start: calc(-1 * var(--btn-gap));
  display: flex;
  align-items: center;
}
@include component-element($name, "trailing") {
  margin-inline-end: calc(-1 * var(--btn-gap));
  display: flex;
  align-items: center;
}

.affix {
  display: flex;
  border: none;
  padding: 0;

  > * {
    border-radius: 0;
  }
  :first-of-type {
    border-start-start-radius: var(--radius-md);
    border-end-start-radius: var(--radius-md);
  }
  :last-of-type {
    border-start-end-radius: var(--radius-md);
    border-end-end-radius: var(--radius-md);
  }
}

.btn input {
  display: none;
}
.btn:has(input:checked) {
  background-color: var(--color-main);
  color: var(--color-on-main);
  position: relative;
  cursor: default;
  &:not(:disabled):hover {
    background-color: var(--color-main);
  }
}

// Default Modifiers
:not(.input-group) #{c($name)}:not(#{cm($name, "sm")}) {
  @extend #{cm($name, "md")};
}
.input-group {
  #{c($name)}:not(#{cm($name, "md")}) {
    @extend #{cm($name, "sm")};
  }
  #{c($name)}:not(#{cm($name, "solid")}, #{cm($name, "subtle")}) {
    @extend #{cm($name, "ghost")};
  }
}
