@use "../base/typography" as *;
@use "../base/spacing" as *;

.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-lg);
  background-color: var(--surface);
  color: var(--color-on-surface);

  &__header {
    padding: spacing(1, 2);
  }

  &__title {
    @include typography("heading", 4);
  }

  &__desc {
    @include typography("body", 2);
  }

  &__actions {
    float: inline-end;
    margin-inline-end: spacing(-1);
  }

  &__body {
    flex-grow: 1;
    padding: spacing(1, 2);
  }

  &__footer {
    display: flex;
    flex-direction: row-reverse;
    gap: spacing(1);
    padding: spacing(1);
  }

  &--lg {
    .card__header {
      padding: spacing(2, 3);
    }

    .card__title {
      @include typography("heading", 2);
    }

    .card__actions {
      margin-inline-end: spacing(-1);
    }

    .card__body {
      padding: spacing(1, 3);
    }

    .card__footer {
      padding: spacing(2);
    }
  }
}
